name: Release to Github

on:
    push:
        tags:
            - "v*"
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v6

            - name: Create release
              env:
                  GH_TOKEN: {%raw%}${{ github.token }}{%endraw%}
              run: |
                  gh release create {%raw%}${{ github.ref_name }}{%endraw%} \
                    --generate-notes
